<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
</head>
<body>
  <h1>Sunset and sunrise</h1>
  <div id="app">
    <p v-show="errors.length">
      <b>Please correct the following error(s):</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
    </p>
    <p>Sunset: {{ sunset }}</p>
    <p>Sunrise: {{ sunrise }}</p>
    <p>Latitude(from -90 to 90): <input type="text" v-model="latitude" placeholder="latitude"></p>
    <p>Longitude(from -180 to 180): <input type="text" v-model="longitude" placeholder="longitude"></p>
    <button v-on:click="getTimes">Submit</button>
  </div>

  <p>NOTE: All times are in UTC and summer time adjustments are not included in the returned data.</p>
  <p>API by <a href=" https://sunrise-sunset.org/api">Sunset and sunrise times API</a></p>
  <!-- debug mode <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>-->
  <!-- production mode --><script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="index.js"></script>
</body>
</html>
